
html, body {
  height: 100%;
  margin: 0;
}

.login-container {
  position: fixed;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: url("https://img.freepik.com/vector-premium/fondo-textura-negra-fondo-negro-abstracto-patron-negro_672416-231.jpg?semt=ais_hybrid&w=740&q=8") no-repeat center;
  background-size: cover;
}

.login-card {
  background: rgba(20, 20, 20, 0.9);
  padding: 40px;
  border-radius: 15px;
  width: 350px;
  text-align: center;
  color: white;
  backdrop-filter: blur(10px);
}

.login-card h2 {
  margin-bottom: 20px;
}

.login-card input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 8px;
  outline: none;
  background: #2c2c2c;
  color: white;
}

.login-card button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border: none;
  border-radius: 8px;
  background: #00c853;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.login-card button:hover {
  background: #00a844;
}

.forgot {
  font-size: 12px;
  color: #00c853;
  text-align: right;
  cursor: pointer;
}

.register {
  margin-top: 15px;
  font-size: 14px;
}

.register span {
  color: #00c853;
  cursor: pointer;
}